name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13.6
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.6
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Build
      run: cd cmd/godns && go build -v .
    - name: GolangCI-Linter
      uses: Mushus/golangci-linter@v1.1.1
